/* Imports */

@import url('https://fonts.googleapis.com/css?family=Raleway:600,700,800');

/* Browser */

:root 
{
	--background-color: #333;
	--foreground-color: #fff;
	--foreground-subtle-color: rgba(0,0,0,0.5);
	--accent-color: #1D77F0;
	--accent-gradient-color: linear-gradient(-45deg, #19d7fb 0%, #1e63ee 100%);
}

::selection 
{
	background: var(--accent-color);
}

::placeholder
{
	color: var(--foreground-subtle-color);
}

/* Objects */

h1
{
	font-size: 9vmin;
	line-height: 9vmin;
	font-weight: 700;
	padding: 0 0 0 30px;
	margin: 0;
	background: var(--accent-gradient-color);
	color: white;
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 0;
  	animation: fadein 1s ease-in-out 2.5s forwards;
  	text-shadow: 0px 2px 5px var(--accent-color);
}

h3
{
	font-size: 15px;
	font-weight: 700;
	padding: 0;
	margin: 0 0 25 30px;
	opacity: 0;
	color: rgba(255,255,255,.7);
  	animation: fadein 1s ease-in-out 1.5s forwards;
  	text-shadow: 0px 2px 5px var(--accent-color);
}

p
{
	margin: 0;
	padding: 0;
	line-height: 1.8;
}

a
{
	color: var(--accent-color);
	text-decoration: none;
	transition: all 0.2s;
	cursor: hand;
}

a:hover
{
	opacity: 0.75;
}

a:active
{
	opacity: 0.5;
}

/* Containers */

html
{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	background-color: var(--background-color);
	color: var(--foreground-color);
}

body
{
	position: relative;
	margin: 0;
	padding: 0;
	max-width: 100%;
	min-height: 100%;
}

main
{
	max-width: 100%;
	padding: 0 0 150 0px;
}

nav
{
	display: none;
	align-items: center;
	justify-content: center;
	height: 80px;
	line-height: 80px;
	margin: 0 0 8 0px;
	position: sticky;
	position: -webkit-sticky;
  	top: 0px;
  	z-index: 10;
  	background-color: black;
}

nav a
{
	color: white;
	margin: 0 10 0 10px;
}

nav a:hover
{
	opacity: .4;
}

footer
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 150px;
	background: rgba(200,200,200,0.05);
}

#footer_inner
{
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	align-items: center;	
	justify-content: flex-end;
	font-size: 20px;
	color: var(--foreground-color);
	height: 100%;
}

footer p
{
	font-size: 14px;
	position: absolute;
	left: 30px;
}

footer a
{
	margin-right: 30px;
	color: var(--foreground-color);
}

@keyframes fadein
{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Background */

#background1
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: var(--accent-color);
	background-image: var(--accent-gradient-color);
	z-index: -1;
}

#background2
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(-45deg, #263B40 0%, #242E42 100%);
	z-index: -1;
	opacity: 0;
}

#background3
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent 0%, #12405A 100%);
	z-index: -1;
	opacity: 0;
}

#background_noise
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url(assets/noise.png);
	background-repeat: repeat;
	opacity: .06;
    pointer-events:none;
}

#landing
{
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#arrow
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	z-index: 10;
	color: white;
	text-align: center;
	font-size: 12px;
	letter-spacing: 5px;
}

#arrow img
{
	animation: pulse 4s infinite;
}

@keyframes pulse 
{
	0% {
		opacity: .5;
		transform: translateY(-10px);
	}
	50% {
		opacity: 1;
		transform: translateY(5px);
	}
	100% {
		opacity: .5;
		transform: translateY(-10px);
	}
}

/* Sections */

section
{
	width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section_inner
{
	width: 100%;
	max-width: 1200px;
}

.section_header
{
	position: relative;
	font-size: 40px;
	font-weight: 800;
	margin: 50 0 70 0px;
	padding: 0 0 0 30px;
	background: var(--foreground-color);
	color: transparent;
	display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
}

.section_header:before
{
	content: '';
	position: absolute;
	height: 8px;
	left: 15px;
	right: -15px;
	bottom: -10px;
	background: var(--accent-gradient-color);
	box-shadow: 0 10px 20px rgba(24, 214, 251, .15);
	z-index: -1;
}

.section_carousel
{
	position: relative;
	max-width: 100%;
}

.section_carousel_blur
{
	width: 100%;
	max-width: 100%;
	display: flex;
	filter: saturate(3) blur(20px);
	opacity: .65;
}

.section_carousel_main
{
	width: 100%;
	max-width: 100%;
	display: flex;
}

.section_carousel_people
{
	flex-wrap: wrap;
}

.section_description
{
	padding: 50 30 50 30px;
}

.section_description p
{
	line-height: 34px;
	opacity: .7;
}

.section_description_header
{
	font-weight: 800;
	margin-bottom: 20px;
	opacity: 1!important;
	font-size: 20px;
	word-wrap: break-word;
}

/* Grids */

.grid
{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: 1fr 1fr 1fr;
}

#events
{
	grid-template-rows: 1fr 220px;
	height: 690px;
}

#people
{

}

#partners
{

}

/* Cards */

.card_title
{
	font-weight: 700;
	font-size: 35px;
	line-height: 40px;
	color: white;
	z-index: 1;
	user-select: none;
	letter-spacing: 1px;  
}

.card_description
{
	font-weight: 700;
	color: #aaa;
	z-index: 1;
	user-select: none;
	display: none;
}

/* Events */

.event
{
	position: relative;
	overflow: hidden;
	background-color: var(--accent-color);
	padding: 30 30 25 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.large_event
{
	grid-column: 1 / 4;
}

.event_bg
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('assets/gradient.png') 0 / cover fixed;
}

/* People */

.person
{
	position: relative;
	height: 520px;
	overflow: hidden;
}

.person:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(transparent 30%, black 100%);
	opacity: .7;
	z-index: 1;
    pointer-events:none;
}

.person video
{
	position: absolute;
	width: 100%;
}

.person_inner
{
	position: relative;
	width: 100%;
	height: 200%;
	padding: 370 0 0 0px;
	transition: all .75s ease-in-out;
	z-index: 1;
}

.person_inner:hover
{
	padding-top: 0px;
	transform: translateY(-130px);
	background-color: rgba(0,0,0,0.85);
}

.person_inner_padding
{
	padding: 0 30 0 30px;
}

.person_name
{
	font-weight: 700;
	font-size: 40px;
	color: white;
	z-index: 1;
	user-select: none;
	padding: 0 120 15 0px;
	line-height: 45px;
	letter-spacing: 1px;
}

.person_role
{
	font-weight: 700;
	color: #bbb;
	z-index: 1;
	user-select: none;
}

.person_details
{
	margin-top: 25px;
	height: 450px;
}

.person_interests
{
	color: white;
	margin: 15 0 15 0px;
	font-size: 20px;
	letter-spacing: 8px;
}

.person_description
{
	color: white;
	margin: 15 0 15 0px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 600;
}

/* Person Links */

.person_link
{
	border-radius: 17px;
	display: inline-block;
	position: relative;
	width: 34px;
	height: 34px;
	margin-right: 5px;
	overflow: hidden;
	box-shadow: inset 0 2px 2px rgba(255,255,255,0.1), 0 2px 5px rgba(0,0,0,0.2);
}

.person_github
{
	background-color: #4078c0;
	color: white;
}

.person_github:after
{
	content: '\f09b';
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.person_website
{
	background-color: #4078c0;
	color: white;
}

.person_website:after
{
	content: '\f0ac';
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.person_facebook
{
	background-color: #3b5998;
	color: white;
}

.person_facebook:after
{
	content: '\f09a';
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	left: 8px;
	bottom: -2px;
	right: 0;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	font-size: 27px;
}

.person_linkedin
{
	background-color: #0077b5;
	color: white;
}

.person_linkedin:after
{
	content: '\f0e1';
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.person_twitter
{
	background-color: #1da1f2;
	color: white;
}

.person_twitter:after
{
	content: '\f099';
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.person_instagram
{
	background: radial-gradient(circle at 50% 100%, #fed373 4%, #f15245 30%, #9b36b7 75%, #9b36b7 100%);
	color: white;
}

.person_instagram:after
{
	content: '\f16d';
	position: absolute;
	font-family: FontAwesome;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.person_details a[href=""] 
{
  display: none!important;
}

/* Partners */

.partner
{	
	position: relative;
	width: 100%;
	height: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.partner img
{	
	max-width: 66%;
	max-height: 22%;
}

/* Media */

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) 
{
	#landing
	{
		align-items: center;
		justify-content: center;
	}
	.card_gradient:before
	{
		border-radius: 0;
	}
	.section_carousel_blur
	{
		flex-wrap: wrap;
	}
	.section_carousel_main
	{
		flex-wrap: wrap;
	}
	.section_header
	{
		margin: 40 0 40 0px;
	}
	h1
	{
		padding: 0;
		margin: 0;
	}
	h3
	{
		padding: 0;
		margin: 0 0 20 0px;
	}
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) 
{
	#background2
	{
		background: black;
	}
	#background3
	{
		background: black;
	}
	nav
	{
		display: flex;
	}
	.grid
	{
		margin: 0 8 8 8px;
		grid-template-columns: 1fr;
		grid-gap: 8px;
	}
	#events
	{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: auto;
	}
	.large_event
	{
		grid-column: 1;
	}
	#landing
	{
		align-items: center;
		justify-content: center;
	}
	.card
	{
		width: 50%;
		margin: 0px;
		border-radius: 0;
	}
	.card_gradient:before
	{
		border-radius: 0;
	}
	.section_carousel_blur
	{
		flex-wrap: wrap;
	}
	.section_carousel_main
	{
		flex-wrap: wrap;
	}
	.section_header
	{
		display: none;
	}



	#people_section
	{
		display: none;
	}
	#partners_section
	{
		display: none;
	}




	h1
	{
		padding: 0;
		margin: 0;
	}
	h3
	{
		padding: 0;
		margin: 0 0 20 0px; 
	}
}